.
├── __init__.py
├── __pycache__
│   ├── __init__.cpython-36.pyc
│   ├── forms.cpython-36.pyc
│   ├── models.cpython-36.pyc
│   └── routes.cpython-36.pyc
├── forms.py
├── models.py
├── requirements.txt
├── routes.py
└── templates
    ├── about.html
    ├── account.html
    ├── home.html
    ├── layout.html
    ├── login.html
    ├── post.html
    └── register.html

2 directories, 16 files
.
├── __init__.py
├── __pycache__
│   ├── __init__.cpython-36.pyc
│   ├── forms.cpython-36.pyc
│   ├── models.cpython-36.pyc
│   └── routes.cpython-36.pyc
├── forms.py
├── models.py
├── requirements.txt
├── routes.py
└── templates
    ├── about.html
    ├── account.html
    ├── home.html
    ├── layout.html
    ├── login.html
    ├── post.html
    └── register.html

2 directories, 16 files
