{% extends "layout.html" %}
{% block body_content %}
    <!-- if there is one or more posts -->
    {% if posts %}
        <!-- for every post in the posts list -->
        {% for post in posts %}
            <!-- display properties from the post -->
            <p>Author: {{ post.author }}</p>
            <p>Title: {{ post.title }}</p>
            <p>Content: {{ post.content }}</p>
        <!-- end the for-loop -->
        {% endfor %}
    <!-- otherwise... -->
    {% else %}
        <!-- display a message indicating that there are no posts --> 
        <p>There are no post</p>
    <!-- end the 'if' statement -->
    {% endif %}
{% endblock %}
